// bower:scss
// endbower
@import "compass/css3";
@import "compass/css3/box-sizing";
@import "compass/css3/transform";




$default-transition-duration : 1s;

$header-height: 50px;
$b-radius: 6px;
$active-menu: #e67e22;
$color-separator: #7f8c8d;
$color-menu: #C5EFF7;
$title-color:#3498db;
$logocolor :#9bceec;

$background-forms:#f8f8f8;
$grey:#a7a7a7;
$blue:#2c3e50;
$green:#d35400;
$blue-topbar : #00ADDA;//#5AC8E6; //#9bceec first color of top bar 
$cloud :#ecf0f1;
$dark :#34495e;
$emerald : #26C281;//#40d47e;

body{
  height: 100%;
}
*{@include box-sizing(border-box); 
  //overflow: hidden;
}

form{
  margin: 10px 10px 10px 10px;
  *{
    margin: 3px 3px 3px 3px;
  }
}

/* Header CSS */
.header {
  height: $header-height;
  position: absolute;
  top: 0;left: 0;right: 0;
  background-color: #00ADDA;
  //background-image: linear-gradient(#ecf0f1, #bdc3c7);
  text-align: center;
}

.logo {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  color: $background-forms;
}
.first{
  position: absolute;
  height:auto; width:auto; max-width:30px; max-height:30px;
  left: 0px;
}
.login {
  line-height: 45px;
  position: absolute;
  height: 100%;
  left: 0px;
  margin-left: auto;
  margin-right: auto ;
  
}

.info {
  line-height: 45px;
  position: absolute;
  height: 100%;
  right: 0px;


}
.ic_right{

  position: absolute;
  border-left: 1px solid #bdc3c7;
  height: 20px;
  width: 20px;
  right: 0px;
}
.gratos{
  color: $green;
}


/* Body CSS */

.posBody{
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  background-color: $background-forms;
  font-family: sans-serif;
}
#parent{
  position: absolute;
  top: $header-height;left: 0;right: 0;bottom: 0;
  background-color: $background-forms;
  font-family: sans-serif;

  overflow-y: auto ;

}
.focus{
  background-color: $grey;
  color: $blue;
  font-weight: 900;
}
.grey{
  color: $grey;
}

.content {
  position: relative;
  background-color: $blue-topbar; //
  margin: 15px 15px 15px 15px;
  color: $background-forms;
  border-radius: 25px;
}



/* Login Content*/

.radius{
  border-radius: 10px;
}


.LoginContent{
  position: absolute;
  top :$header-height;
  width: 100%;
  text-align: center;

}

h4{
  text-align: center;
}

.cloudBackground{
  background-color: $cloud;
}
.blankbackground{
  background-color: #ffffff;
}



/**  List View **/

.itemlist{
  background-color: #ecf0f1;
  border: .5px solid #95a5a6;
  .name{
    position: absolute;
    color: #3498db;
  }
  .location{
    position: absolute;

  }
  .loc{
    position: absolute;
    width: 30%; //150px; //or use 30%
    float: right;
  }

}
.circler{
  background-color: $emerald;
}

.alinea{
  margin: 0px 0px 0px 10px ;
}
.formmargins{
  margin: 0px 0px 5px 0px ;

}
.margerer{
  margin: 5px 5px 5px 5px ;
}
.margintop{
  margin: 20px 0px 20px 0px ;
}
.smalltopmargins{
  margin-top: 10px;
}

.marg{
  margin: 0px 20px 0px 20px ;
}
.icone{
  margin: 5px 5px 5px 5px;
  width: 40px;
  height: 40px;
  border-radius:50%;
  border:2px solid #ecf0f1; 
}



.clearBoth {
  clear: both;
}



#helpers{
  position: relative;
  text-align: center;
  font-size: 10;
}

.helper{
  border-radius: 10px;
  background-color: $blue-topbar;
  width: 50px;
  height: 50px;
}
.niceic{
  width: 40px;
  height: 40px;
}

.darkengelus{
  margin-top: 50px;
  background-color: $dark;
  border-radius: 5px;
  color: $dark;
  .sub{
    color: $green;
  }
}
.darkenbis{
  background-color: $background-forms;
  border-radius: 5px;
  height: 100%;
}

/* Full metal */


.border{
  border-bottom: 0.5px solid $color-separator;
}
.borderer{
  border-bottom: 0.8px solid $color-separator;
  border-top:  0.8px solid $color-separator;
}

.separator{
  border-right: .9px solid $color-separator;
}

.menu{
  text-align: center;
  background-color: $color-menu;
}

.activemenu{
  color: $active-menu;
}

.centertext{
  text-align: center;
  color: #d35400;
}
.supertitle{
  text-align: center;
  line-height: 30px;
  height: 40px;
  font-weight:bold;
  color: $title-color;
  background-color: #ecf0f1;
}

.title{
  color: $title-color;
}
.subtitle{
  color: $grey;
}
.subtitlebis{
  color: $grey;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  //white-space: nowrap;
}
.titlecentrer{
  line-height: 60px;
}
.imgcentrer{
  width: 30px;
  height: 30px;
  text-align: center;
}
.image{
  position: absolute;
  width: 100%;
  height: auto;
}

.centrerbis{
  text-align: center;
}

.posdown{
  position: absolute;
  bottom:0; left: 0;right: 0;
  height: 10%;
}

.onright{
  float: left;
}

.elem:nth-child(even) {
  background-color: #ecf0f1;
}
/* Custom page footer */

.transition{
  @include transition-duration(.5s);
}

/* G Maps CSS*/
.angular-google-map-container { height: 150px; }

.panelleft{
  @include transform(translate3D(-100%,0,0));
}
.panelmiddle{
  @include transform(translate3D(0,0,0));
}
.panelright{
  @include transform(translate3D(100%,0,0));
}

.left-text{
  text-align: left;
}

.stepholder{
  height: 60px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.ajax-spinner-bars {
  position:absolute;
  width:35px;
  height:35px;
  left:50%;
  top:50%;
}
.ajax-spinner-bars > div {
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: #25363F;
  opacity: 0.05;
  animation: fadeit 0.8s linear infinite;
}
.ajax-spinner-bars > .bar-1 {
  transform: rotate(0deg) translate(0, -12px);
  animation-delay:0.05s;
}
.ajax-spinner-bars > .bar-2 {
  transform: rotate(22.5deg) translate(0, -12px);
  animation-delay:0.1s;
}
.ajax-spinner-bars > .bar-3 {
  transform: rotate(45deg) translate(0, -12px);
  animation-delay:0.15s;
}
.ajax-spinner-bars > .bar-4 {
  transform: rotate(67.5deg) translate(0, -12px);
  animation-delay:0.2s;
}
.ajax-spinner-bars > .bar-5 {
  transform: rotate(90deg) translate(0, -12px);
  animation-delay:0.25s;
}
.ajax-spinner-bars > .bar-6 {
  transform: rotate(112.5deg) translate(0, -12px);
  animation-delay:0.3s;
}
.ajax-spinner-bars > .bar-7 {
  transform: rotate(135deg) translate(0, -12px);
  animation-delay:0.35s;
}
.ajax-spinner-bars > .bar-8 {
  transform: rotate(157.5deg) translate(0, -12px);
  animation-delay:0.4s;
}
.ajax-spinner-bars > .bar-9 {
  transform: rotate(180deg) translate(0, -12px);
  animation-delay:0.45s;
}
.ajax-spinner-bars > .bar-10 {
  transform: rotate(202.5deg) translate(0, -12px);
  animation-delay:0.5s;
}
.ajax-spinner-bars > .bar-11 {
  transform: rotate(225deg) translate(0, -12px);
  animation-delay:0.55s;
}
.ajax-spinner-bars > .bar-12 {
  transform: rotate(247.5deg) translate(0, -12px);
  animation-delay:0.6s;
}
.ajax-spinner-bars> .bar-13 {
  transform: rotate(270deg) translate(0, -12px);
  animation-delay:0.65s;
}
.ajax-spinner-bars > .bar-14 {
  transform: rotate(292.5deg) translate(0, -12px);
  animation-delay:0.7s;
}
.ajax-spinner-bars > .bar-15 {
  transform: rotate(315deg) translate(0, -12px);
  animation-delay:0.75s;
}
.ajax-spinner-bars> .bar-16 {
  transform: rotate(337.5deg) translate(0, -12px);
  animation-delay:0.8s;
}
@keyframes fadeit{
  0%{ opacity:1; }
  100%{ opacity:0;}
}


.slide-animate.ng-enter, .slide-animate.ng-leave{
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
 -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
 -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
 transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}


.slide-animate.ng-enter.ng-enter-active {
 position: absolute;
 left: 1300px;
}

.slide-animate.ng-enter {
 left: 0;
}

.slide-animate.ng-leave.ng-leave-active {
 position: absolute;
 left: -1700px;
}

.slide-animate.ng-leave {
 right: 0;
}

/** CSS OFF BAR CANVAS **/