<div class="header">
  <div class="logo" >A Propos D'Atlanta Assurance </div>
</div>

<div id="parent">
	<table class="contentpaneopen">



<tbody><tr>
<td valign="top">
<span style="color: #049fe1; font-family: verdana,geneva;"><strong>&nbsp; Une riche et longue expérience !</strong></span><br><br>
<table border="0">
<tbody>
<tr>
<td style="text-align: left;"><span style="font-family: verdana,geneva;"><span style="color: #666;"><strong>1947 <span style="color: #333333;">:</span></strong></span><span style="color: #808080;"> Dès sa création, Atlanta a bénéficié du savoir faire de l’assureur français «&nbsp; La préservatrice » et de sa volonté de développer l’activité des assurances au Maroc.</span></span></td>
</tr>
<tr>
<td height="8"></td>
</tr>
<tr>
<td style="text-align: left;"><span style="font-family: verdana,geneva;"><strong><span style="color: #666;">1974 <span style="color: #333333;">:</span></span></strong> <span style="color: #808080;">Avec la marocanisation, Atlanta appartient au <a target="_blank" href="http://www.holmarcom.ma">Groupe Holmarcom</a> sous la Présidence de Feu Abdelkader BENSALAH. Durant 25 ans, Feu Abdelkader BENSALAH a animé ses collaborateurs de son esprit de rigueur, de respect et d’ouverture, avec sa forte sensibilité à l’épanouissement de l’Homme<strong>.</strong></span></span></td>
</tr>
<tr>
<td height="8"></td>
</tr>
<tr>
<td style="text-align: left;"><span style="font-family: verdana,geneva;"><strong><span style="color: #666;">1993 <span style="color: #333333;">:</span></span></strong> <span style="color: #808080;">Dans un environnement marqué par la libéralisation et l’ouverture, Atlanta, sous l’impulsion de son Président Directeur Général Mohamed Hassan BENSALAH, affronte de nouveaux défis avec dynamisme et une forte volonté de développement.</span></span>
<ul style="margin-bottom: 8px;">
<li><span style="color: #808080; font-family: verdana,geneva;">L’appartenance d’Atlanta à Holmarcom, groupe de grande renommée et leader de l’économie nationale, lui permet de réaliser son développement en toute sérénité.</span></li>
</ul>
</td>
</tr>
<tr>
<td><span style="font-family: verdana,geneva;"><strong><span style="color: #666;">1999</span></strong> <strong>:</strong> <span style="color: #808080;">Le groupe Holmarcom renforce son positionnement dans le secteur des assurances avec l’achat de la Compagnie d’assurances Sanad</span></span></td>
</tr>
<tr>
<td height="8"></td>
</tr>
<tr>
<td><span style="font-family: verdana,geneva;"><strong><span style="color: #666;">2005</span></strong> <strong>:</strong> <span style="color: #808080;">10% du capital Atlanta/Sanad est détenu par le groupe CDG</span></span>
<ul style="margin-bottom: 8px;">
<li>
<div style="font-family: verdana,geneva; color: #808080;">Sanad devient filiale d’Atlanta à 100%.</div>
</li>
</ul>
</td>
</tr>
<tr>
<td><span style="font-family: verdana,geneva;"><strong><span style="color: #666;">2007</span></strong> <strong>:</strong> <span style="color: #808080;">Atlanta fête son 60ème anniversaire et s’apprête à relever de nouveaux challenge en s’appuyant sur sa riche et longue expérience et sa maîtrise du métier d’assurance</span></span>
<ul style="margin-bottom: 8px;">
<li><span style="font-family: verdana,geneva; color: #808080;">Atlanta entre en bourse.</span></li>
</ul>
</td>
</tr>
</tbody>
</table>

</td>
</tr>

</tbody></table>
</div>