<div class="header">
  <a class="login" href back-button><img  src="images/left.png"></a>
  <div class="logo">Acualitées & Offres</div>  
</div>
<div class="container" id="parent">
	
	
	<section  ng-class="{panelright:panel<0,panelmiddle:panel==0,panelleft:panel>0}" class="transition posBody">
		<div class="row menu border" >
			<a ng-click="getActus()" class="activemenu">
				<div class="col-xs-4 col-md-4 separator pad"> 
					News
				</div>
			</a>
			<a ng-click="getVideos()">
				<div class="col-xs-4 col-md-4 separator pad" >
					Vidéos
				</div>
			</a>
			<a ng-click="getOffres()">
				<div class="col-xs-4 col-md-4 pad" >
					Offres
				</div>
			</a>
		</div>

		<div class="row elem" ng-repeat="actu in actus">
			<a ng-click="goto(actu)">
				<div class="col-xs-2">
					<img class="image" src="assest/{{actu.image}}">
				</div>
				<div class="col-xs-10">
					<div class="title alinea">{{actu.title}}</div>
					<div class="subtitlebis alinea">{{actu.desc}}</div>
				</div>
			</a>
			
		</div>
	</section>
	<section  ng-class="{panelright:panel<1,panelmiddle:panel==1,panelleft:panel>1}" class="transition posBody">
		<div class="row menu border" >
			<a ng-click="getActus()" >
				<div class="col-xs-4 col-md-4 separator pad"> 
					News
				</div>
			</a>
			<a ng-click="getVideos()" class="activemenu">
				<div class="col-xs-4 col-md-4 separator pad" >
					Vidéos
				</div>
			</a>
			<a ng-click="getOffres()">
				<div class="col-xs-4 col-md-4  pad" >
					Offres
				</div>
			</a>
		</div>
			<div class="row elem" ng-repeat="offre in offres">
			<div class="col-xs-3">
				<img src="images/plus.png">
			</div>
			<div class="col-xs-9">
				<div class="title ">{{offre.title}}</div>
				<div class="subtitle ">{{offre.desc}}</div>
			</div>
		</div>
	</section>
	<section  ng-class="{panelright:panel<2,panelmiddle:panel==2,panelleft:panel>2}" class="transition posBody">
		<div class="row menu border" >
			<a ng-click="getActus()" >
				<div class="col-xs-4 col-md-4 separator pad"> 
					News
				</div>
			</a>
			<a ng-click="getVideos()">
				<div class="col-xs-4 col-md-4 separator pad" >
					Vidéos
				</div>
			</a>
			<a ng-click="getOffres()" class="activemenu">
				<div class="col-xs-4 col-md-4  pad" >
					Offres
				</div>
			</a>
		</div>
			<div class="row elem" ng-repeat="video in videos">
			<div class="col-xs-3">
				<img src="images/plus.png">
			</div>
			<div class="col-xs-9">
				<div class="title ">{{video.title}}</div>
				<div class="subtitle ">{{video.desc}}</div>
			</div>
		</div>
	</section>
	<div class='ajax-spinner-bars' ng-show="loader==1">
          <div class='bar-1'></div>
          <div class='bar-2'></div>
          <div class='bar-3'></div>
          <div class='bar-4'></div>
          <div class='bar-5'></div>
          <div class='bar-6'></div>
          <div class='bar-7'></div>
          <div class='bar-8'></div>
          <div class='bar-9'></div>
          <div class='bar-10'></div>
          <div class='bar-11'></div>
          <div class='bar-12'></div>
          <div class='bar-13'></div>
          <div class='bar-14'></div>
          <div class='bar-15'></div>
          <div class='bar-16'></div>
      </div>
</div>