<div class="header">
  <a class="login" href back-button><img  src="images/left.png"></a>
  <div class="logo">{{temp.title}}</div>  
</div>
<div class="container" id="parent">
	<div class="row centrerbis margintop">
		<div class="col-xs-12">
			<img class="img-responsive img-thumbnail" src="assest/{{temp.image}}">
		</div>
		<p class="col-xs-12 subtitle">
			{{temp.desc}}
		</p>

	</div>
</div>