<div class="header">
  <a class="login" href back-button><img  src="images/left.png"></a>
  <div class="logo">Agence a {{ville}}</div>  
</div>
<div class="container" id="parent">
	<section  class="transition posbody" >
		<div class="row border transition" >
		    <google-map center="loc.center" draggable="true" zoom="loc.zoom">
		    	<marker ng-repeat="age in agences" coords="age"></marker>
			</google-map>
		</div>
		<div ng-repeat="agence in agences" class="row border elem">
			<div class="col-xs-9 col-md-9">
				<div class="title">{{agence.Ville}}</div>
				{{agence.animateur}}
			</div>
			<div class="col-xs-3 col-md-3 centertext"> 
				<img src="images/iti.png" class="imgcentrer"> <br>
				<div class="centertext">1km</div>
			</div>
		</div>
	</section>
	<div class='ajax-spinner-bars' ng-show="loader==1">
          <div class='bar-1'></div>
          <div class='bar-2'></div>
          <div class='bar-3'></div>
          <div class='bar-4'></div>
          <div class='bar-5'></div>
          <div class='bar-6'></div>
          <div class='bar-7'></div>
          <div class='bar-8'></div>
          <div class='bar-9'></div>
          <div class='bar-10'></div>
          <div class='bar-11'></div>
          <div class='bar-12'></div>
          <div class='bar-13'></div>
          <div class='bar-14'></div>
          <div class='bar-15'></div>
          <div class='bar-16'></div>
      </div>
</div>
