<div class="header">
  <a class="login" ng-show="go==0" href="/"><img  src="images/left.png"></a>
  <a class="login" ng-click="go=0;panel=1" ng-show="go==1"><img  src="images/left.png"></a>
  <div class="logo" ng-show="go==0">Agences Atlanta </div>
  <div class="logo" ng-show="go==1">Agence a {{curville}}</div>
  
</div>
<div class="container" id="parent">
	<section ng-class="{panelleft:go>0,panelmiddle:go==0,panelright:go<0}" class="transition">
		<div class="row border transition" ng-show="panel==0" >
		    <google-map center="map.center" draggable="true" zoom="map.zoom">
		    	<marker ng-repeat="age in agencesAutour " coords="age"></marker>
			</google-map>
		</div>

		<div class="row menu border" ng-show="go==0" >
			<a ng-click="panel=1" ng-class="{activemenu: panel==1}">
				<div class="col-xs-6 col-md-6 separator pad"> 
					Ailleur
				</div>
			</a>
			<a ng-click="getAutour()">
				<div class="col-xs-6 col-md-6  pad" ng-class="{activemenu: panel==0}">
					A proximite
				</div>
			</a>
		</div>
		<div ng-repeat="agence in agencesAutour" class="row border elem" ng-show="panel==0">
			<div class="col-xs-10 col-md-10">
				<div class="title">{{agence.Ville}}</div>
				
				{{agence.animateur}}
			</div>
			<div class="col-xs-2 col-md-2 centertext"> 
				<img src="images/marker.png" class="imgcentrer"> <br>
				<div class="centertext">1km</div>
			</div>
		</div>
		
			<div ng-repeat="vi in villes" class="row border elem" ng-show="panel==1">
				<div  class="col-xs-10 col-md-10 border" ng-show="panel==1">
					<div class="title" >{{vi.Ville}}</div>
					<div >1 agence </div>
				</div>
				<div  class="col-xs-2 col-md-2 centertext"> 
					<a href="#agence/{{vi.Ville}}" ><img src="images/rightblue.png"></a>
					
				</div>
			</div>
		
	</section>

	
	<div class='ajax-spinner-bars' ng-show="loader==1">
          <div class='bar-1'></div>
          <div class='bar-2'></div>
          <div class='bar-3'></div>
          <div class='bar-4'></div>
          <div class='bar-5'></div>
          <div class='bar-6'></div>
          <div class='bar-7'></div>
          <div class='bar-8'></div>
          <div class='bar-9'></div>
          <div class='bar-10'></div>
          <div class='bar-11'></div>
          <div class='bar-12'></div>
          <div class='bar-13'></div>
          <div class='bar-14'></div>
          <div class='bar-15'></div>
          <div class='bar-16'></div>
      </div>
</div>
<script type="text/ng-template">
	
</script>



