<div class="header">
  <a class="login" href back-button><img  src="images/left.png"></a>
  <div class="logo">Demande D'assistance</div>  
</div>
<div id="parent" class="blankbackground">
	<div class="cloudBackground borderer">
		<div class="title alinea">Assistance </div>
		<div class="subtitle alinea">En cas de panne ou d'accident.</div>
	</div>
	<form role="form">
		<input type="text" class="form-control formmargins" placeholder="Nom *">
		<input type="text" class="form-control formmargins" placeholder="Prénom *">
		<input type="text" class="form-control formmargins" placeholder="N° de Police *">
		<input type="text" class="form-control formmargins" placeholder="Immatriculation *">
		<input type="text" class="form-control formmargins" placeholder="Numéro de téléphone *">
	</form>

	<div class="cloudBackground container borderer">
		<div class="row">
			<div class="col-xs-10">
				<div class="title ">Localisation</div>
				<div class="subtitle ">{{locationName}} </div>
			</div>
			<div class="col-xs-2" ng-click="geolocate()">
				<img src="images/geolocation.png">
			</div>
		</div>	
	</div>

			
	<google-map center="map.center" draggable="true" zoom="map.zoom"></google-map>
	<div class="marg">
		<button type="button" ng-click="send()" class="btn btn-primary btn-sm btn-block margintop">Envoyer Pour assistance</button>
		<a href="tel:+1-800-555-1234">
			<button type="button" class="btn btn-default btn-sm btn-block margintop">Appeler</button>
		</a>
		
	</div>

</div>

