<div class="header">
  <a class="login" href back-button><img  src="images/left.png"></a>
  <div class="logo">Numéros d'Urgence </div>  
</div>
<div id="parent" class="blankbackground posbody container">

	
		<div class="row" ng-repeat="num in nums">
			<div class="col-xs-10 darkenbis">
				<div class="title ">{{num.name}}</div>
				<div class="sub">{{num.num}}</div>
			</div>
			<a href="tel:{{num.num}}">	
				<div class="col-xs-2 "><img class="img-responsive  margerer " src="images/callme.png"></div>
			</a>
		</div>


	
	

</div>
