<div class="header">
<a class="login" href back-button><img  src="images/left.png"></a>
  <div class="logo" > Demande D'assistance </div>
</div>

<div id="parent">
	 <div class="marg alinea" >
	 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	 	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	 	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	 	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	 </div>
	 <div class="marg">
		<a href="tel:+1-800-555-1234">
			<button type="button" class="btn btn-default btn-sm btn-block margintop">Appeler</button>
		</a>
		
	</div>
</div>
