<div class="header">
  <a class="login" href back-button><img  src="images/left.png"></a>
  <div class="logo">Déclaration sinistre </div>  
</div>
<div id="parent" class="blankbackground">
	<div class="cloudBackground borderer">
		<div class="title alinea">DATE SINISTRE</div>
	</div>
	<form role="form">
		<input type="date" class="form-control formmargins" placeholder="Nom *">
	</form>
	<div class="cloudBackground borderer">
		<div class="title alinea">IDENTIFICATION</div>
		<div class="subtitle alinea">Saisisser les Données du contrat.</div>
	</div>
	<form role="form">
		<input type="date" class="form-control formmargins" placeholder="N° de Police *">
		<input type="text" class="form-control formmargins" placeholder="Immatriculation *">
		<input type="text" class="form-control formmargins" placeholder="Nom *">
		<input type="text" class="form-control formmargins" placeholder="Prénom *">
	</form>

	<div class="cloudBackground container borderer">
		<div class="row">
			<div class="col-xs-10">
				<div class="title ">Localisation</div>
				<div class="subtitle ">{{locationName}} </div>
			</div>
			<div class="col-xs-2" ng-click="geolocate()">
				<img src="images/geolocation.png">
			</div>
		</div>	
	</div>
	<google-map center="map.center" draggable="true" zoom="map.zoom"></google-map>
	<div class="cloudBackground container borderer">
		<div class="row">
			<div class="col-xs-10">
				<div class="title ">PHOTO CONSTAT *</div>
				<div class="subtitle ">Inserer la photo du constat a l'amiable .</div>
			</div>
			<div class="col-xs-2">
				<img src="images/camera.png">
			</div>
		</div>	
	</div>

	<div class="radius">
		<img src="images/plus.png">
	</div>
	<div class="cloudBackground container borderer">
		<div class="row">
			<div class="col-xs-10">
				<div class="title ">PHOTO ACCIDENT *</div>
				<div class="subtitle ">Inserer une photo de l'accident .</div>
			</div>
			<div class="col-xs-2">
				<img src="images/camera.png">
			</div>
		</div>	
	</div>
	<div class="radius">
		<img src="images/plus.png">
	</div>
	<div class="marg">
		<button type="button" ng-click="send()" class="btn btn-primary btn-sm btn-block margintop">Valider Votre Declaration</button>
	</div>
	
	<div class='ajax-spinner-bars' ng-show="loader==1">
          <div class='bar-1'></div>
          <div class='bar-2'></div>
          <div class='bar-3'></div>
          <div class='bar-4'></div>
          <div class='bar-5'></div>
          <div class='bar-6'></div>
          <div class='bar-7'></div>
          <div class='bar-8'></div>
          <div class='bar-9'></div>
          <div class='bar-10'></div>
          <div class='bar-11'></div>
          <div class='bar-12'></div>
          <div class='bar-13'></div>
          <div class='bar-14'></div>
          <div class='bar-15'></div>
          <div class='bar-16'></div>
      </div>

</div>