<div class="header" >
	<a class="login" href back-button ng-show="step==0"><img  src="images/cancel4.png"></a>
	<a class="login" ng-click="previousstep()" ng-show="step!=0"><img  src="images/left.png"></a>
	<div class="logo">Nouveau Devis </div>
	<a class="info" ng-click="nextstep()"><img  src="images/right.png" ng-show="step<2"></a>
	<a class="info" ng-click="submit()"><img  src="images/send.png" ng-show="step==2"></a>
</div>
<div class="container" id="parent" >
	<section  ng-class="{panelleft:step>0,panelmiddle:step==0,panelright:step<0}" class="transition">
		<form role="form">
			<div class="form-group" >
				<label id="libelleTarif" for="choixTarif" >Tarif</label>
				<select id="choixTarif" name="choixTarif" class="form-control"  aria-disabled="false" ng-model="choixTarif">
					<option value="NORMAL" selected="selected">Auto +</option>
					<option value="PREMIERE_MAIN">Première main</option>
					<option value="SAYIDATI">Sayidati</option>
					<option value="FONCTIONNAIRE">Mouwadaf</option>
					<option value="AUTO_EXPO_2012">Auto-Expo 2012</option>
				</select>
			</div>
			<div class="form-group">
				<label for="dateMiseEnCirculation" class="libelle">Date mise en circulation <span class="champObligatoireEtoile">*</span></label>
				<input id="dateMiseEnCirculation" ng-model="dateMiseEnCirculation" type="date" maxlength="10" class="form-control" >
			</div>
			<div class="form-group">
				<label for="dateEffet" class="libelle">Date effet contrat <span class="champObligatoireEtoile">*</span></label>
				<input id="dateEffet" ng-model="dateEffet" type="date" maxlength="10" class="form-control" >
			</div>
			<div class="form-group">
				<label for="valeurNeuve" class="libelle">Valeur à neuf (en dhs) <span class="champObligatoireEtoile">*</span></label>
				<input type="text" id="valeurNeuve" ng-model="valeurNeuve" maxlength="8" class="form-control">
			</div>
			<div class="form-group">
				<label for="valeurVenale" class="libelle">Valeur vénale (en dhs) <span class="champObligatoireEtoile">*</span></label>
				<input type="text" id="valeurVenale" ng-model="valeurVenale" maxlength="8" class="form-control">
			</div>
			<div class="form-group">
				<label for="valeurGlaces" class="libelle">Valeur des glaces (en dhs) <span class="champObligatoireEtoile">*</span></label>
				<input type="text" id="valeurGlaces" ng-model="valeurGlaces" maxlength="6" class="form-control" >
			</div>

		</form>
	</section>
	<section   ng-class="{panelright:step<1,panelmiddle:step==1,panelleft:step>1}" class="transition posBody">
		<form role="form">
			<div class="form-group">
				<label for="carburant" class="libelle">Carburant</label>
				<select id="carburant" ng-model="carburant" class="form-control" aria-disabled="false">
					<option value="choix1">Diesel</option>
					<option value="choix2">Essence</option>
				</select>
			</div>
			<div class="form-group">
				<label for="puissance" class="libelle">Puissance</label>
				<select id="puissance" ng-model="puissance" class="form-control" aria-disabled="false">
					<option value="choix1">4 ou moins</option>
					<option value="choix2">5</option>
					<option value="choix3">6</option>
					<option value="choix4">7</option>
					<option value="choix5">8</option>
					<option value="choix6">9 ou 10</option>
					<option value="choix7">11 ou plus</option>
				</select>
			</div>
			<div class="form-group">
				<label for="nbPlaces" class="libelle">Nombre de places</label>
				<select id="nbPlaces" ng-model="nbPlaces" class="form-control" aria-disabled="false">
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
				</select>

			</div>
			<div class="form-group" ng-show="choixTarif=='NORMAL'">
				<label for="immatriculation" class="libelle">Immatriculation</label>
				<select id="immatriculation" ng-model="immatriculation" class="form-control" aria-disabled="false">
					<option value="normale">Normale</option>
					<option value="ww">WW</option>
				</select>
			</div>

			<div class="checkbox">
				<label>
					Bon conducteur<input type="checkbox" value="" id="flagBonConducteur" ng-model="flagBonConducteur">
				</label>
			</div>
		</form>
	</section>

	<section ng-class="{panelright:step<2,panelmiddle:step==2,panelleft:step>2}" class="transition posBody">
		<form role="form">
			<div class="checkbox ">
				<input type="checkbox" id="flagRc" ng-model="flagRc" >
				<label for="flagRc" class="libelle">Responsabilité Civile</label>
			</div>
			<div class="checkbox" ng-switch="choixTarif">
				<input type="checkbox" id="flagDr" ng-model="flagDr" ng-switch-when="NORMAL">
				<input type="checkbox" id="flagDr" ng-model="flagDr" ng-switch-when="PREMIERE_MAIN">
				<input type="checkbox" id="flagDr" ng-model="flagDr" ng-switch-default checked="checked">
				<label for="flagDr" class="libelle">Défense et Recours</label>
				<span class="gratos" ng-show="choixTarif=='SAYIDATI'||choixTarif=='FONCTIONNAIRE'||choixTarif=='AUTO_EXPO_2012'">*Gratuite</span>
			</div>
			<div class="checkbox" ng-switch="choixTarif">
				<input type="checkbox" id="flagPc" ng-model="flagPc"  checked="checked">
				<label for="flagPc" class="libelle">Protection Conducteur</label>
				<span class="gratos" >*Gratuite</span>
			</div>
			<div class="checkbox" ng-switch="choixTarif">
				<input ng-switch-when="AUTO_EXPO_2012" type="checkbox" id="flagPta" ng-model="flagPta">
				<input ng-switch-default type="checkbox" id="flagPta" ng-model="flagPta">
				<label for="flagPta" class="libelle">Personnes Transportées</label>
				<span class="gratos" ng-show="choixTarif=='AUTO_EXPO_2012'">*Gratuite</span>
			</div>

			<div  class="form-group" ng-hide="flagPta==''">
				<select  id="formulePta" ng-model="formulePta" class="form-control" ng-show="choixTarif=='NORMAL' || choixTarif=='AUTO_EXPO_2012'|| choixTarif=='PREMIERE_MAIN'">
					<option value="formule1">Formule 1 - Décès : 10 000 dhs | IPP : 10 000 dhs | FM : 1000 dhs</option>
					<option value="formule2">Formule 2 - Décès : 20 000 dhs | IPP : 30 000 dhs | FM : 2000 dhs</option>
					<option value="formule3">Formule 3 - Décès : 30 000 dhs | IPP : 40 000 dhs | FM : 3000 dhs</option>
					<option value="formule4">Formule 4 - Décès : 40 000 dhs | IPP : 50 000 dhs | FM : 4000 dhs</option>
					<option value="formule5">Formule 5 - Décès : 50 000 dhs | IPP : 50 000 dhs | FM : 5000 dhs</option>
				</select>
			</div>
			<div class="form-group" ng-hide="flagPta==''">
				<select  id="formulePtaFonct" ng-model="formulePtaFonct" class="form-control" ng-show="choixTarif=='FONCTIONNAIRE'">
					<option value="formule1">Formule 1 - Décès :  50 000 dhs | IPP :  50 000 dhs | FM:5000 dhs</option>
					<option value="formule2">Formule 2 - Décès :  80 000 dhs | IPP :  80 000 dhs | FM:6000 dhs</option>
					<option value="formule3">Formule 3 - Décès : 100 000 dhs | IPP : 100 000 dhs | FM:6000 dhs</option>
				</select>
			</div>
			<div class="checkbox" ng-hide="flagPta==''">
				<select  id="formulePtaSayidati" ng-model="formulePtaSayidati" class="form-control" ng-show="choixTarif=='SAYIDATI'">
					<option value="formule1">Formule 1 - Décès : 10 000 dhs | IPP : 10 000 dhs | FM:3000 dhs</option>
					<option value="formule2">Formule 2 - Décès : 20 000 dhs | IPP : 20 000 dhs | FM:5000 dhs</option>
				</select>
			</div>
			<div class="checkbox">
				<input type="checkbox" id="flagVol" ng-model="flagVol" >
				<label for="flagVol" class="libelle">Vol</label>
			</div>
			<div class="checkbox">
				<input type="checkbox" id="flagIncendie" ng-model="flagIncendie" >
				<label for="flagIncendie" class="libelle">Incendie</label>
			</div>
			<div class="checkbox">
				<input type="checkbox" id="flagDc" ng-model="flagDc" >
				<label for="flagDc" class="libelle">Dommages Collision</label>
			</div>
			<div class="form-group" ng-hide="flagDc==''">
				<select id="optionDc" ng-model="optionDc" class="form-control" ng-show="choixTarif=='NORMAL' || choixTarif=='AUTO_EXPO_2012'|| choixTarif=='PREMIERE_MAIN'">
					<option value="option1">Formule 1 - Capital : 10 000 dhs | Franchise : 1000 dhs</option>
					<option value="option2">Formule 2 - Capital : 10 000 dhs | Franchise :  500 dhs</option>
					<option value="option3">Formule 3 - Capital : 20 000 dhs | Franchise :  500 dhs</option>
					<option value="option4">Formule 4 - Capital : 30 000 dhs | Franchise :  500 dhs</option>
					<option value="option5">Formule 5 - Capital : 35 000 dhs | Franchise :  500 dhs</option>
					<option value="option6">Formule 6 - Capital : 40 000 dhs | Franchise :  500 dhs</option>
					<option value="option7">Formule 7 - Capital : 45 000 dhs | Franchise :  500 dhs</option>
					<option value="option8">Formule 8 - Capital : 50 000 dhs | Franchise :  500 dhs</option>
					<option value="option9">Formule 9 - Capital : 80 000 dhs | Franchise :  500 dhs</option>
				</select>
			</div>
			<div class="form-group" ng-hide="flagDc==''">
				<select id="optionDcFonct" ng-model="optionDcFonct" class="form-control" ng-show="choixTarif=='FONCTIONNAIRE'">
					<option value="option1">Formule 1 - Capital : 10 000 dhs | Franchise : 500 dhs</option>
					<option value="option2">Formule 2 - Capital : 20 000 dhs | Franchise : 500 dhs</option>
					<option value="option3">Formule 3 - Capital : 30 000 dhs | Franchise : 500 dhs</option>
					<option value="option4">Formule 4 - Capital : 50 000 dhs | Franchise : 500 dhs</option>
				</select>
			</div>
			<div class="form-group" ng-hide="flagDc==''">
				<select id="optionDcSayidati" ng-model="optionDcSayidati" class="form-control" ng-show="choixTarif=='SAYIDATI'">
					<option value="option1">Formule 1 - Capital : 10 000 dhs | Franchise : 500 dhs</option>
					<option value="option2">Formule 2 - Capital : 20 000 dhs | Franchise : 500 dhs</option>
					<option value="option3">Formule 3 - Capital : 30 000 dhs | Franchise : 500 dhs</option>
				</select>
			</div>
			<div class="checkbox">
				<input type="checkbox" id="flagTierce" ng-model="flagTierce" >
				<label for="flagTierce" class="libelle">Tierce</label>
			</div>
			<div class="form-group" ng-hide="flagTierce==''">
				<select id="optionTierce" ng-model="optionTierce" class="form-control" >
					<option value="option1">Formule 1 - Franchise :  3%</option>
					<option value="option2">Formule 2 - Franchise :  5%</option>
					<option value="option3">Formule 3 - Franchise : 10%</option>
					<option value="option4">Formule 4 - Franchise : 15%</option>
					<option value="option5">Formule 5 - Franchise : 20%</option>
				</select>
				<div class="checkbox">
					<input type="checkbox" id="flagInondation" ng-model="flagInondation">
					<label for="flagInondation">Inondation</label>
				</div>
			</div>
			
			<div class="checkbox">
				<input type="checkbox" id="flagBg" ng-model="flagBg" >
				<label for="flagBg" class="libelle">Bris de Glaces</label>
			</div>
			<div class="form-group" ng-hide="flagBg==''">
				<select id="optionBg" ng-model="optionBg" class="form-control">
					<option value="option1">Formule 1 - Sans franchise</option>
					<option value="option2">Formule 2 - Franchise : 5%</option>
				</select>
			</div>

		</form>
	</section>

	<div class='ajax-spinner-bars' ng-show="loader==1">
	  <div class='bar-1'></div>
	  <div class='bar-2'></div>
	  <div class='bar-3'></div>
	  <div class='bar-4'></div>
	  <div class='bar-5'></div>
	  <div class='bar-6'></div>
	  <div class='bar-7'></div>
	  <div class='bar-8'></div>
	  <div class='bar-9'></div>
	  <div class='bar-10'></div>
	  <div class='bar-11'></div>
	  <div class='bar-12'></div>
	  <div class='bar-13'></div>
	  <div class='bar-14'></div>
	  <div class='bar-15'></div>
	  <div class='bar-16'></div>
	</div>

</div>

