<div class="header">
  <a class="login" href="/"><img  src="images/left.png"></a>
  <div class="logo" >Connexion </div>
</div>
<div id="parent">
	<form role="form">
		<div class="form-group">
		    <input type="text" class="form-control" id="login" placeholder="Enter votre Login">
		</div>
		<div class="form-group">
		    <input type="password" class="form-control" id="login" placeholder="Enter votre Mot de passe ">
		</div>
		<small><a href="">Mot de pass oublié </a></small>
		
		<button type="button" class="btn btn-info btn-lg btn-block">Connexion</button>
		<p class="centrerbis" >ou</p>
		<button type="button" class="btn btn-default btn-lg btn-block">Créer un compte Atlanta </button>		
	</div> 