<div class="header">
  <a class="login" href="#about"><img  src="images/info.png"></a>
  <div class="logo">Atlanta Assurance </div>
  <a class="info" href="#login"><img  src="images/login.png"></a>
</div>

<div id="parent">
  <div class="row content">
    <div class="col-xs-12 centrerbis"> Mes Contrats</div>
    <div class="col-xs-4 centrerbis">
      <a href="#"> 
          <img class="icone" src="images/sante.png"><br>
        </a>
        Santé
    </div>
    <div class="col-xs-4 centrerbis">
      <a href="#">
          <img class="icone" src="images/saving.png"><br>
        </a>
        Epargne
    </div>
    <div class="col-xs-4 centrerbis">
      <a href="#">
          <img  class="icone" src="images/car.png"><br>
        </a>
        Auto
    </div>
    

  </div>
  <div class="container">
    <div class="row">
    <div class="col-xs-4 centrerbis">
      <a href="#assistance"> 
          <img class="helper" src="images/assistance.png"><br>
        </a>
        Assistance
    </div>
    <div class="col-xs-4 centrerbis">
      <a href="#declsinistre">
          <img class="helper" src="images/cardown.png"><br>
        </a>
        Déclaration <br>sinistre
    </div>
    <div class="col-xs-4 centrerbis">
      <a href="#agences">
          <img  class="helper" src="images/ic_atlantablanc.png"><br>
        </a>
        Agences <br> Atlanta
    </div>
    <div class="col-xs-4 centrerbis">
      <a href="#devis">
          <img  class="helper" src="images/devis.png"><br>
        </a>
        Devis <br> d'assurance
    </div>
    <div class="col-xs-4 centrerbis">
      <a href="#actu">
          <img  class="helper" src="images/news.png"><br>
        </a>
        Actualitées <br> & Offres
    </div>
    <div class="col-xs-4 centrerbis">
      <a href="#call">
          <img  class="helper" src="images/call.png"><br>
        </a>
        Numéro <br> d'urgence
    </div>
    

  </div>

  </div>
  


</div>
