<div class="header" >
	<a class="login" href back-button ><img  src="images/cancel4.png"></a>
	<div class="logo">Resultat du Devis </div>
</div>
<section class="transition container" id="parent">
	<div>
		<div class="supertitle titlecentrer">Votre prime annuelle est de : 3165465 dhs</div>	
	</div>
</section>