<section ng-class="{panelright:go!=1,panelmiddle:go==1}" class="transition posbody" >
		<div class="row border" >
		    <google-map center="map.center" zoom="map.zoom"></google-map>
		</div>
		<div class="supertitle row">Agence a {{curville}}</div>
		<div ng-repeat="agence in agences | filter:curville" class="row border elem">
		<div class="col-xs-9 col-md-9">
			<div class="title">{{agence.Ville}}</div>
			
			{{agence.animateur}}
		</div>
		<div class="col-xs-3 col-md-3 centertext"> 
			<img src="images/iti.png" class="imgcentrer"> <br>
			<div class="centertext">1km</div>
		</div>
	</div>
		

	</section>